.head-text {
	font-family: serif;
}

.main-head {
	margin-bottom: 10px;
}

.form-body {
	width: 350px;
	border: 2px solid teal;
	border-radius: 5px;
}

.Ehead {
	font-family: serif;
}

.Eform {
	margin-top: 5px;
}

.Sbtn {
	margin-bottom: 5px;
}

.error {
	color: red;
	font-family: serif;
	font-size: 18px;
	width: 300px;
	height: auto;;
	margin-bottom: 5px;
	border: 2px solid red;
	border-radius: 5px;
}

.suc {
	color: green;
	font-family: serif;
	font-size: 18px;
	width: 300px;
	height: auto;;
	margin-top: 5px;
	border: 2px solid green;
	border-radius: 5px;
}

.input {
	height: 35px;
	width: 300px;
}

.btn {
	margin-top: 5px;
}

.footer {
	margin-top: 100px;
}

.foot {
	margin-top: 20px;
}